@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #9F8E80;
  background-color :#F4EDE2;
}
@keyframes moveTech {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0);
  }
}
.animate-tech-stack {
  animation: moveTech 2s infinite;
}
/* Define the animation */
@keyframes scaleText {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}


.animated-text {
  animation-name: scaleText;
  animation-duration: 2s; 
  animation-iteration-count: infinite; 
}
.form-container {
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 280px) {
  
.nav{
width:270px;
height: 30px;
gap:16px;
margin-right: 90px;
text-align: center;

}
.nav1{
  margin-right: 0px;

}


}